/.idea
/bin
/out
/scripts/config/servers
/scripts/config/refit-overrides.bckpac
/scripts/config/refit-overrides.bckp
/scripts/generated-config
/scripts/keys
/terraform/*/.terraform
/terraform/*/.terraform.lock.hcl
/terraform/*/terraform.tfstate*
/results
/queue_results
.mypy_cache
/remote-runner
__pycache__
/tmp
.classpath
.project